@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bangazon</h1>
    <p>Worforce management system.</p>
    <br/>
    <img src="https://www.telegraph.co.uk/content/dam/business/spark/brother-ready-enabled/aerial-view-of-4-people-working-on-laptop-computers-around-a-table.jpg?imwidth=450"/>
</div>
